@model GroupViewModel
@{
    ViewData["Title"] = "Group Management";
}

<!-- Google Font for Bubblegum Sans -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">

<!-- Link to CSS -->
<link href="~/css/projectmanagement.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Group Management</h2>
            <div class="title-divider"></div>
            <br />
            <br />

            <a class="btn btn-primary mb-3" asp-controller="Group" asp-action="AddGroup">Add Group</a>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <my-sorting-link sort-field="@nameof(Group.GroupName)"
                                             current="@Model.CurrentRoute">Group Name</my-sorting-link>
                        </th>
                        <th>Members</th>
                        <th scope="col">
                            <my-sorting-link sort-field="@nameof(Group.Manager)"
                                             current="@Model.CurrentRoute">Group Lead</my-sorting-link>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Group group in Model.Groups)
                    {
                        <tr>
                            <td>@group.GroupName</td>
                            <td>
                                @foreach (var member in group.Members)
                                {
                                    <span class="badge bg-info text-dark">@member.FirstName @member.LastName</span>
                                }
                            </td>
                            <td>
                                @if (group.Manager != null)
                                {
                                    <a href="@Url.Action("Details", "User", new { id = group.Manager.Id })">@group.Manager.FirstName @group.Manager.LastName</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-4">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <my-paging-link number="@i" current="@Model.CurrentRoute" />
            }
        </div>
        <div class="col-8">
            <form asp-action="PageSizes" method="post" class="mb-2 mt-2">
                <div class="row">
                    <label asp-for="CurrentRoute.PageSize" class="col-auto">Page sizes</label>
                    <div class="col-auto">
                        <select asp-for="CurrentRoute.PageSize" class="form-select"
                                asp-items="@(new SelectList(Model.PageSizes))">
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

